/*
    Main components
*/
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8em;
    -webkit-overflow-scrolling: touch;
}

html {
    overflow-x: hidden;
}

.ftSect {
    background-color: rgba(91, 192, 222, 1);
    color: #fbfbfb;
    text-align: center;
    bottom: 0;
    padding: 10px
}

input, select, textarea {
    max-width: 500px;
}

nav {
    background-color: rgba(91, 192, 222, 1) !important;
    color: #fbfbfb !important;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

a {
    text-decoration: none !important;
    color: #3e3e3e !important;
    cursor: pointer;
}

/*
    Page Images
*/
.hdngImg {
    background-image: url('https://images.pexels.com/photos/1694363/pexels-photo-1694363.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    min-height: 100%;
}

.missionImg {
    background-image: url('https://images.pexels.com/photos/722664/pexels-photo-722664.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    min-height: 100%;
}

.hdngImg, .missionImg {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.80;
}

/*
    Landing Page Section
*/
.hdngSect {
    color: #fbfbfb;
    border-radius: 10px 10px;
    padding: 65px;
    margin: auto;
    width: 65%;
    background: rgba(91, 192, 222, 0.6);
    transform: translate(0, -50%)
}

/*
    Mission Statement Page
*/
.missionSect {
    color: #fbfbfb;
    border-radius: 10px 10px;
    padding: 65px;
    margin: auto;
    width: 100%;
    background: rgba(91, 192, 222, 0.6);
    transform: translate(0, -50%)
}

/*
    Site Text
*/
.sText {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 27px;
    letter-spacing: 6px;
    text-transform: uppercase;
}

/*
    Messages
*/
.message {
    -webkit-box-shadow: 8px 4px 22px -9px rgba(0,0,0,0.73);
    -moz-box-shadow: 8px 4px 22px -9px rgba(0,0,0,0.73);
    box-shadow: 8px 4px 22px -9px rgba(0,0,0,0.73);
    border-radius: 10px 10px;
    padding: 5px;
    margin-top: 15px;
    margin-left: 30px;
}

.messageText {
    text-align: center;
    font-size: 15px;
    max-width: 60%;
}

.messageSect {
    list-style-type: none;
}

.messageForm {
    text-align: center;
}

.messageSubmitBtn {
    -webkit-box-shadow: 8px 4px 22px -9px rgba(0,0,0,0.73);
    -moz-box-shadow: 8px 4px 22px -9px rgba(0,0,0,0.73);
    box-shadow: 8px 4px 22px -9px rgba(0,0,0,0.73);
}

.messageTA {
    margin: 10px;
    resize: none;
    min-height: 75px;
    min-width: 50%;
    border-radius: 7px 7px;
    -webkit-box-shadow: 8px 4px 22px -9px rgba(0,0,0,0.73);
    -moz-box-shadow: 8px 4px 22px -9px rgba(0,0,0,0.73);
    box-shadow: 8px 4px 22px -9px rgba(0,0,0,0.73);
}

/*
    Mission Groups
*/
.missionGroupSect {
    float: right;
    min-width: 25%;
    margin-top: 15px;
    margin-right: 30px;
    border-radius: 10px 10px;
    -webkit-box-shadow: 8px 4px 22px -9px rgba(0,0,0,0.73);
    -moz-box-shadow: 8px 4px 22px -9px rgba(0,0,0,0.73);
    box-shadow: 8px 4px 22px -9px rgba(0,0,0,0.73);
}

.missionGroupList {
    list-style-type: none;
    min-height: 300px;
    width: 45%;
}

.missionGroupListItem {

}

/*
    Prayer Requests
*/
.prayerSect {
    list-style-type: none;
    text-align: center;
    padding: 40px;
}

/*
    Login and Register Pages
*/
.loginHeading {
    padding: 50px 0 20px 30px;
    text-align: center;
    width: 50%;
    font-size: 25px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #5bc0de;
}

.loginSect {
    color: #5bc0de;
    padding: 10px 0 10px 0;
    border-radius: 10px 10px;
    width: 50%;
    margin-left: 30px;
}

.loginBtn {
    margin-left: 30px;
    padding: 10px;
}

/*
    Mobile Design
*/
@media (max-width: 537px) {
    body {
        overflow-x: hidden;
    }

    .hdngImg, .mssnImg {
        font-size: 17px;
        letter-spacing: 3px;
        background-attachment: scroll;
    }
}
