@{
    ViewBag.Title = "Home Page";
}

<div class="hdngImg">
    <div class="sText">
        <span class="title">LightHouse</span>
    </div>
    <div class="acctLinks text-center">
        <span><a href="@Url.Action("Login", "Account")" class="btn btn-outline-info">Log In</a></span>
        <span><a href="@Url.Action("Register", "Account") class="btn btn-outline-info"">Register</a></span>
    </div>
</div>
