
@{
    ViewBag.Title = "Mission";
}

<div class="mssnImg">
    @Html.Partial("_NavLayout")
</div>
<section class="mssnSect">
    <h3>Our Mission</h3>
    <p>This is where the mission statement goes</p>
</section>
<div class="mssnImg"></div>
