
@{
    ViewBag.Title = "Mission";
}

<div class="missionImg">
    @Html.Partial("_NavLayout")
    <div class="sText">
        <section class="missionSect">
            <h3>Our Mission</h3>
            <p>This is where the mission statement goes</p>
        </section>
    </div>
</div>
