@model Lighthouse.Models.MissionGroup
@{
    ViewBag.Title = "Delete";
}

<div class="">
    <p>Mission delete</p>
    <form action="@Url.RouteUrl("MissionDeletePost")" method="post">
        @Html.HiddenFor(i => i.Id)
        @Html.AntiForgeryToken()
    </form>
</div>
